# Directories

#Binaries
bin/
bin-int/

# Visual Studio files and folder
.vs/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.csproj

# Files
*.user
Sandbox/HazelProfile-Runtime.json
Sandbox/HazelProfile-Shutdown.json
Sandbox/HazelProfile-Startup.json
Sandbox/imgui.ini
Sandbox/imgui.ini
